@import '../styles/colors.css';
@import '../styles/fonts.css';
@import '../styles/base.css';
@import '../styles/breakpoints.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: var(--accent);
  color: var(--bg);
}

::-moz-selection {
  background-color: var(--accent);
  color: var(--bg);
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
}
